
/*  width: 960px; */

body {
    background-color: #F5FFFA; /* not yet*/ 
    text-align: center;
}

header {
    background-image: url("bgk-header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content{
    text-align: center;
    margin: 1.5% auto;
    max-width: 960px;
    
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1%
}

.navlogo {
    display: flex;
    width: 14%;
    align-items: center;
    justify-content: space-between;
}
.navlogo h2{
    font-size: 1.875rem;
    font-family: 'Roboto', sans-serif;
    color: #00e0d0;
    font-weight: 100;
}

.navbar {
    width: 57%;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 0.813rem;
    text-transform: uppercase;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: #00e0d0;
}

#intro {
    width: 81.25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9em 0 13em 0;
}

#intro h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 2rem;
}

#intro p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.6;
}

#intro .line {
    border-top: 0.1rem solid #00e0d0;
    width: 5%;
}

.learn-more {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Hammersmith One', sans-serif;
    color: #00e0d0;
    border: 0.1rem solid #00e0d0;
    padding: 0.87em;
    width: 7.5em;
}

.ourstoryContent {
    max-width: 960px;
    display: flex;
    margin: 7% auto;
}

.biglogo {
    padding: 2% 7%;
}

.ourstory-content{
    height: 27%;
    display: flex;
    flex-direction: column;
    color: #413d4b;
    width: 56%;
    
}

.ourstory-content h2{
    margin: 0;
    text-align: left;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 1.375rem;
}

.ourstory-content p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.6;
}

.ourstoryVideo {
    background-image: url(bgk-middle.png);
    background-size: cover;
    background-repeat: no-repeat;    
}

.videoLogo {
    padding: 13.25em 0;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
