/*  width: 960px; */



/* Begining Meet The Team*/
.team {
    
    min-height: 660px;
    background-image: url(/bgk-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.team-heading {
  line-height: 5px;
  text-align: center;
  margin-bottom: 60px;
}
  
.teamMembers {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 350px;
    align-content: space-between;
    
    
    
  }
  
  .teamMember {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    border: 2px solid white;
    margin: 10px;
    border-color: gray;
    
    
  }

  .name-position {
    text-align: center;
    line-height: 5px;
    margin-top: 20px;
  }

  .team-footer {
    text-align: center;
    margin-top: 30px;
  }

  .hiring {
    border: 2px solid teal;
    color: teal;
    font-weight: bold;

}

/* Begining Form and Clients*/ 

.contact-client-section {
  background-color: pink;
  border: 2px solid black;
  max-height: 660px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  

}

.heading-form-clients {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  background-color: yellow;
  
  
}

.parent-heading {
  border: 2px solid blue;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  

}

.heading {
  border: 2px solid black;
  background-color: black;
  color: aqua;

}

.body-container {
  background-color: blue;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
   
  
}

.body-form-clients {
  background-color: green;
  display: flex;
  justify-content: left;
  height: 70%;
  
}

.contact-form {
 background-color: red;
 border: 2px solid black;
 width: 100%;
 
}

.good-news {
  display: flex;
  flex-direction: column;
  color: gray;
  
  
}

.clients {
  background-color: red;
  border: 2px solid black;
  justify-content: space-between;
  
}

.clients-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.input {   /*Hier vrändere ich die Form*/
  margin: 10px;
  margin-left: 0%;
  margin-right: 0%;
  
}

#name, #email, #subject {
  height: 30px;

}

#message {
  height: 180px;
}

.pictures {
  margin: 20px;
  margin-left: 100px;
  margin-right: 55px;
}

#heading-clients {
  margin-left: 100px;

}

#pic-row-1 {
  width: 135px;
}

#pic-row-2 {
  margin-left: 110px;
}